<h3 style="text-align: center;">Github Code Search</h3>

<div class="row" style="margin-top: 5%">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <form>
      <div class="row">
        <div class="col-md-4">
            <mat-form-field style="width: 90%">
                <input [(ngModel)]="searchCriteria" matInput placeholder="Enter the search criteria" name="searchCriteria">
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field style="width: 90%">
                <input [(ngModel)]="searchUser" matInput placeholder="Enter the user" name="searchUser">
            </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field style="width: 90%">
              <input [(ngModel)]="searchUser" matInput placeholder="Enter the repository" name="searchUser">
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-1"></div>
</div>

<router-outlet></router-outlet>
